# CLion cache directory
.idea/

# VSCode cache directory
.vscode/

# CLion CMake build directory
cmake-build-*/

# VSCode CMake build directory
build/

# MacOS specific files
.DS_Store

# Developer local machine build and test tool
build.sh